<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal info</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
<div th:replace="appBar"></div>

<div class="container mt-4">
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Quantity (g)</th>
            <th>Calories (kcal)</th>
            <th>Proteins (g)</th>
            <th>Fats (g)</th>
            <th>Carbs (g)</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ingredient : ${meal.getIngredients()}">
            <td><span th:text="${ingredient.getIngredient().getName()}"></span></td>
            <td><span th:text="${ingredient.getQuantity()}"></span></td>
            <td><span th:text="${ingredient.getCalories()}"></span></td>
            <td><span th:text="${ingredient.getProteins()}"></span></td>
            <td><span th:text="${ingredient.getFats()}"></span></td>
            <td><span th:text="${ingredient.getCarbs()}"></span></td>
            <td>
                <form th:action="@{/meals/removeIngredient/{mealID}(mealID=${meal.mID})}" method="post">
                    <input type="hidden" name="ingredientID" th:value="${ingredient.id}" />
                    <button type="submit" class="btn btn-danger btn-sm float-right">
                        Remove
                    </button>
                </form>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>
